button(class="btn btn-default btn-toggle col-md-1",data-modal="#regiser-user",id="add") register
div.modal#regiser-user
  form.new-user
    input(type="text",class="form-input",placeholder="nom")
    input(type="text",class="form-input",placeholder="prenom")
    button.btn.btn-next.submit
