div.modal.fade#regiser-user
  div.modal-dialog
    div.modal-content
      form#create-user-form
        input(type="text",class="form-input",placeholder="nom",id="user-name")
        input(type="text",class="form-input",placeholder="prenom",id="user-surname")
        button(class="btn btn-primary btn-next",type="submit")
          i.fa.fa-angle-right
