div.modal.fade
  form#create-session-form
    input(type="text",class="form-input",placeholder="game name")
    input(type="text",class="form-input time",placeholder="time")
    button.submit.btn.btn-next
