extends layout

block content
  div.app
    div.title
      h1(data-text="Welcome") Bienvenue
      h2 Pour commencer, vous puvez selectionner un jeu

    include partials/session_create.pug
    include partials/register.pug
    div.games
      ul
        - var games = [];
        each game in games.length ? games : []
          include partials/game.pug
